@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Imperial+Script&display=swap");

:root {
  /* 546a76-88a0a8-b4ceb3-dbd3c9-fad4d8 */
  --blue-slate: #546a76;
  --glaucous: #88a0a8;
  --sky: #b4ceb3;
  --white: #dbd3c9;
  --coral: #fad4d8;
  --lightcoral: #F6828C;
  

#body {
    background-color:  #fad4d8;
    color: #546a76;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}    

header {
    background-color: #546a76;
    color:#fad4d8;
    border-radius: 50px 400px 400px 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    border-radius: 500px;
}


footer {
    background-color:#b4ceb3;
    color:#546a76;
    border-radius: 500px;
}


#titulo {
    background-color: #dbd3c9;
    color: #546a76;
    text-align: center;
    padding: 10px;
}

.titulo-secao {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#fad4d8;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 5px solid #546a76;
    text-align: center;
    border-left: 5px solid #546a76;
}

.card-programa {
    border-radius: 50px;
    width: 180px;
    background-color: #dbd3c9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-clip: padding-box;
    font-size: 14px;
    border: 5px solid #546a76;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 15px;
}

.card-programa h3 {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inicio {
    background-color: #dbd3c9;
    border-radius: 100px;
    width: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid #546a76;
}


#programacao {
    margin-bottom: 15px;
    padding-left: 15px;
    border-left: 5px solid #546a76;
    margin-top: 30px;
    margin-bottom: 30px;
     
}



#programacao h2 {
    background-color: #dbd3c9;
    width: 177px;
    border-radius: 5px 7px 5px 7px;
    color: #546a76;
    
    
}
#contato {
    padding-left: 15px;
    border-left: 5px solid #546a76;
    margin-top: 30px;
    margin-bottom: 30px;
}



#contato h2 {
    background-color: #dbd3c9;
    width: 110px;
    border-radius: 5px 7px 5px 7px;
    color: #546a76;
}

nav a {
    text-decoration: none;
    color: #546a76;   
    border: 5px solid #fad4d8 ;
    display: inline-block;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

nav ul { 
    list-style: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

}

nav ul li {
    list-style: none;
    display: inline-block;
    color: #546a76; 
    padding: 10px;
    margin: 10px;   
}

nav a:hover {
    background-color: #88a0a8;
    color: #546a76;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #b4ceb3;
}

