@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Imperial+Script&display=swap");

:root {
  /* 546a76-88a0a8-b4ceb3-dbd3c9-fad4d8 */
  --blue-slate: #546a76;
  --glaucous: #88a0a8;
  --sky: #b4ceb3;
  --white: #dbd3c9;
  --coral: #fad4d8;
}
* {
  /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Elms Sans", "Arial", sans-serif;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  color: purple (0, 225, 0, 9);
}


#inicio {
background-color: #546a76;
border-radius: 10px;
width: 350px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}











a {
  text-decoration: none;
  font-weight: bold;
  color: var(--sky);
  background-color: var(--blue-slate);
  border-radius: 5px;
}




.fonte-maior {
  font-size: 50px;
  background-color: var(--glaucous);
  padding-left: 20px;
  /* border-width: 10px;
  border-style: solid;
  border-color: green; */
  border: 10px dotted green;
  text-align: center;
}

.teste-espacamento {
  background-color: var(--coral);
  padding: 20px 40px 60px;
  margin-top: 200px;
  margin-bottom: 200px;
  border-bottom: 10px solid black;
}

nav ul li {
    list-style: none;
    display: inline-block;
    color: black


}
